* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 75%;
}
.sidebar {
  flex-grow: 1;
}
.content {
  flex-grow: 9999;
}
.sidebar, .content {
  box-sizing: border-box;
  vertical-align: top;
  background: #ddd;
  border: 1px solid #888;
  border-radius: 5px;
  padding: .7rem;
  margin: 5px;
}

.sidebar {
  width: 30%;  
}

.todos {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.project {
  width: 75%;
  margin: auto;
  margin-bottom: .5rem;
  border: .5px solid black;
  border-radius: 5px;
  padding: .6rem;
  font-size: 1.4rem;
  background: rgba(0,0,0,.1);
}
.project:hover {
  background: rgba(0,0,0,.15);
}

.todo {
  margin-bottom: 5px;
  padding-left: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid gray;
}

.todo:hover {
  background: rgba(0,0,0,.05);  
}

.new-todo {
  border-bottom: 1px dotted #aaa;
}
.new-todo input[type="text"],
.new-todo input[type="datetime-local"] {
  width: 95%;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  padding: .6rem;
  font-size: 1.7rem;
}
.new-todo label {
  font-size: 1.2rem;
  padding-left: 20px;
  font-weight: bold;
}
.btn-new {
  display: block;
  border: none;
  border-radius: 5px;
  background: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .7rem;
  cursor: pointer;
  margin-left: auto;
}
.btn-new:hover {
  text-decoration: underline;
  color: #000;
}