* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Nunito', 'Roboto', 'Arial', sans-serif;
  background: #f5f5f5;
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%, rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

button:focus {
  outline: 0;
}

.container {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 75%;
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 100%;
  }
}

.sidebar {
  flex-grow: 1;
}
.content {
  flex-grow: 9999;
  padding: .7rem;
}
.content h1 {
  margin: 0;
}
.project-actions {
  margin-bottom: 1rem;
}
.sidebar, .content {
  box-sizing: border-box;
  vertical-align: top;
  background: #ddd;
  border-radius: 5px;
  margin: 5px;
  background: rgba(200,200,200,.5);
  box-shadow: 0 0 15px #444;
}

.sidebar {
  width: 30%;  
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.project-wrapper .new-project input {
  display: block;
}

.project {
  margin: auto;
  padding: .6rem;
  font-size: 1.4rem;
  border-bottom: 1px solid #999;
  background: #ccc;
  background: rgba(50, 50, 250, .3);
  border-left: 0px solid gray;
  border-left: 0px solid rgba(50, 50, 250, .7);
  transition: border-left-width .3s linear;
  border-left-width: 0px;
}
.project-current {
  border-left: 5px solid gray;
  border-left: 5px solid rgba(50, 50, 250, .7);
  background: rgba(50, 50, 250, .5);
}

.project:hover,
input.project:focus {
  background: #bbb;
  background: rgba(50, 50, 250, .5);
  cursor: pointer;
  border-left: solid gray;
  border-left: solid rgba(50, 50, 250, .7);
  border-left-width: 5px;
  transition: border 0.3s linear;
}

input {
  font-family: 'Nunito', 'Roboto';
}

input.project {
  background: #eee;
  width: 100%;
  border: none;
  border-top: 1px solid #777;
  border-bottom: 1px solid #555;
}

input.project:hover,
input.project:focus {
  background: #fff;
}

.todos {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.todo {
  margin-bottom: 5px;
  padding-left: 25px;
  padding-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid gray;
  font-family: 'Roboto', sans-serif;
}
.todo p {
  padding-left: 10px;
}
.todo-checked {
  color: #888;
}
.todo-checked h1 {
  text-decoration: line-through;
}
.todo h1 {
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 1.7rem;
}
.todo h1 input[type="checkbox"] {
  width: 1.5rem;
  height: 1.7rem;
  margin-right: .5rem;
}
.todo:hover {
  background: rgba(0,0,0,.05);  
}
.action {
  border: 1px solid #333;
  border-radius: 7px;
  background: #444;
  color: #eee;
  width: 75px;
  height: 25px;
}
.action:hover {
  font-weight: bold;
  background: #666;
}
.new-todo {
  border-bottom: 1px dotted #aaa;
}
.new-todo input[type="text"],
.new-todo input[type="datetime-local"] {
  width: 95%;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  padding: .6rem;
  font-size: 1.7rem;
}
.new-todo label {
  font-size: 1.2rem;
  padding-left: 20px;
  font-weight: bold;
}
.btn-new {
  display: block;
  border: none;
  border-radius: 5px;
  background: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .7rem;
  cursor: pointer;
  margin-left: auto;
}
.btn-new:hover {
  text-decoration: underline;
  color: #000;
}

